html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: inline-flex;
    position: sticky;
    align-items: flex-start;
    justify-content: flex-start;
    top:0%;
    align-content: flex-start;
    text-decoration: none;
}