html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mobile {
    display: none;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

header .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
}


@media (max-width: 480px) { 
    .desktop {
        display:none;
    }
}

@media (max-width:1281px) {
    .mobile {
        display: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    
}

header .desktop {
    display: flex;
    align-items: right;
    justify-content: flex-end;
}

.logo p span {
    color: gray;
    font-weight: 10;
}

.logo p strong {
    color: black;
}

